# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL
    4. C

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
----------------------
| SAS |
| Apache Spark |
| Git |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**
- This course talks about various data science languages like python, R, Sql.
- This course talks about various data science libraries like pandas, matplotlib, numpy etc.
- This course also includes data science tools such as SAS, Git, Apache Spark etc.

## Author
Mohammad Soban Shaikh